{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}
    <form action="/booking" method="post">
        <h3>Formulaire de contact</h3>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="fullname" placeholder="Nom & Prénom*" type="text">
        </div>
        <input class="form-control mx-auto w-auto" name="phone" placeholder="Numéro de téléphone*" type="tel">
        <button class="btn btn-primary" type="submit">Envoyer</button>

    </form>

    phone*

    email*

    brief description of tattoo

    location on body

    size of the tattoo

    general availability

    choose an artist in list

    how did you hear about us ? list

    button submit
{% block main %}

{% endblock %}
