{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <form action="/booking" method="post">
        <h3>Formulaire de contact</h3>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="fullname" placeholder="Nom & Prénom*" type="text">
        </div>
        <input class="form-control mx-auto w-auto" name="phone" placeholder="Numéro de téléphone*" type="tel">
        <input class="form-control mx-auto w-auto" name="email" placeholder="Email*" type="mail">
        <input class="form-control mx-auto w-auto" name="description" placeholder="Brève description du tatouage" type="text">
        <input class="form-control mx-auto w-auto" name="location" placeholder="Localisation sur le corps" type="tel">
        <input class="form-control mx-auto w-auto" name="size" placeholder="Taille du tatouage" type="tel">
        <input class="form-control mx-auto w-auto" name="availability" placeholder="Vos disponibilités" type="tel">
        <input class="form-control mx-auto w-auto" name="artist" placeholder="Choisissez un artiste" type="tel">
        <input class="form-control mx-auto w-auto" name="medium" placeholder="Comment avez-vous entendu parler de nous ?list" type="tel">
        <button class="btn btn-primary" type="submit">Envoyer</button>
    </form>
{% endblock %}
