{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="parallax" id="parallax-1">
        <h2>STUDIO NAME</h2>
    </div>

    <section class="section p-3">
        <div class="container text-center align-items-center">
            <h3>Découvrez nos artistes</h3>
            <div class="row">
                <div class="col-4">
                    <div class="col-4">
                        <img src="/assets/logo_homepage.jpg" id="id-pic" alt="My picture" class="responsive">
                    </div>

                    <div class="col-8">
                        <h3>Welcome to My Homepage!</h3>
                        <br>
                        <p>Hello! I'm Emeline, a 25-year-old computer engineering student with a passion for data and artificial intelligence. I specialize in harnessing the power of data and AI to create innovative solutions and smart technologies.</p>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}
