#logo {
  border-radius: 50%;
  }
/* Ajoutez ces styles à votre fichier CSS */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-collapse {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.navbar-brand {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

#nav-items-left, #nav-items-right {
  display: flex;
  align-items: center;
}

#nav-items-left {
  margin-right: auto;
}

#nav-items-right {
  margin-left: auto;
}

.nav-item {
  margin-left: 10px;
  margin-right: 10px;
}
