:root {
    --darkcolor-primary: #BB86FC;
    --darkcolor-primary-variant: #3700B3;
    --darkcolor-secondary: #03DAC6;
    --darkcolor-bg: #000000;
    --darkcolor-surface: #232323;
    --darkcolor-error: #CF6679;

    --darkcolor-onprimary: #000000;
    --darkcolor-onsecondary: #000000;
    --darkcolor-onbg: #FFFFFF;
    --darkcolor-onsurface: #FFFFFF;
    --darkcolor-onerror: #000000;
  }

body {
color: var(--darkcolor-onbg);
background-color: var(--darkcolor-bg);
}

.container-center-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    pointer-events: none;
    width: 100%;
}

.container-center-horizontal > * {
    flex-shrink: 0;
    pointer-events: auto;
}
