:root {
    --color-primary: #BB86FC;
    --color-primary-variant: #3700B3;
    --color-secondary: #03DAC6;
    --color-bg: #000000;
    --color-surface: #232323;
    --color-error: #CF6679;

    --color-onprimary: #000000;
    --color-onsecondary: #000000;
    --color-onbg: #FFFFFF;
    --color-onsurface: #FFFFFF;
    --color-onerror: #000000;
  }
