:root {
    --textcolor: #000000;
    --titlecolor: #F3FCF0;
    --navcolor-bg: #000000;
    --navcolor-text: #F3FCF0;
    --btncolor: #56E39F;

    --color-primary: #
    --color-primary-variant:
    --color-secondary:
    --color-bg:
    --color-surface:
    --color-error:

    --color-onprimary:
    --color-onsecondary:
    --color-onbg:
    --color-onsurface:
    --color-onerror:
  }
