{% extends "showcase/layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
<section class="container" style="heigth: 100%;">
    <div class="incoming card text-center my-5" >
        <div class="card-body">
            <h1 class="card-title">Coming Soon</h1>
            <p class="card-text">We are working hard to bring you this new section. Stay tuned!</p>
            <a href="/" class="btn btn-primary">Back to Home</a>
        </div>
    </div>
</section>
{% endblock %}
