{% extends "showcase/layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <section class="section p-3 container">

        <div class="row align-items-start">
            <div class="container text-center align-items-center">
                <h3>Formulaire de contact</h3>
            </div>
            <div class="col-6">
                <form action="/showcase/booking" method="post">
                    <div class="mb-3">
                        <input autocomplete="off" autofocus class="form-control mx-auto w-75" name="fullname" placeholder="Nom & Prénom*" type="text">
                    </div>
                    <div class="mb-3">
                        <input class="form-control mx-auto w-75" name="phone" placeholder="Numéro de téléphone*" type="tel">
                    </div>
                    <div class="mb-3">
                        <input class="form-control mx-auto w-75" name="email" placeholder="Email*" type="mail">
                    </div>
                    <div class="mb-3">
                        <input class="form-control mx-auto w-75" name="description" placeholder="Brève description du tatouage" type="text">
                    </div>
                    <div class="mb-3">
                        <input class="form-control mx-auto w-75" name="location" placeholder="Localisation sur le corps" type="text">
                    </div>
                    <div class="mb-3">
                        <input class="form-control mx-auto w-75" name="size" placeholder="Taille du tatouage" type="text">
                    </div>
                    <div class="mb-3">
                        <input class="form-control mx-auto w-75" name="availability" placeholder="Vos disponibilités" type="text">
                    </div>
                    <div class="mb-3">
                        <input class="form-control mx-auto w-75" name="artist" placeholder="Choisissez un artiste" type="text">
                    </div>
                    <div class="mb-3">
                        <input class="form-control mx-auto w-75" name="medium" placeholder="Comment avez-vous entendu parler de nous ?list" type="text">
                    </div>
                    <div class="container text-center align-items-center">
                        <button class="btn btn-primary" type="submit">Envoyer</button>
                    </div>
                </form>
            </div>

            <div class="col-6">
                <div class="mb-3">
                    <h5>Comment faire pour réserver ?</h5>

                </div>
                <div>
                    <p>
                        “Hey there! 😊 To book an appointment, just fill out the necessary details and hit ‘submit’.
                        Or, feel free to drop by Chapter One Tattoo during our open hours.
                        We’re so grateful for every tattoo inquiry we receive.
                        Due to the many requests, there might be a slight delay in our response. Thanks for understanding! 🙏
                    </p>
                    <p>
                        Got an urgent request? Just give us a ring at
                        <a href="tel:1-619-255-8400">619-255-8400</a>.
                        We’re always here to assist you!”
                    </p>
                    <p>
                        NB : Afin de garantir le rdv, nous prenons un acompte de 50€ dès la réservation du premier rdv.
                    </p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
