{% extends "showcase/layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <section class="section p-3 container">

        <div class="row align-items-start d-flex flex-wrap">
            <div class="container text-center align-items-center">
                <h3>Formulaire de contact</h3>
            </div>
            <div class="col-12 col-md-6">
                <form action="/booking" method="post">
                    <div class="mb-3">
                        <input autocomplete="off" autofocus class="form-control mx-auto w-75" name="fullname" placeholder="Nom & Prénom*" type="text">
                    </div>
                    <div class="mb-3">
                        <input class="form-control mx-auto w-75" name="phone" placeholder="Numéro de téléphone*" type="tel">
                    </div>
                    <div class="mb-3">
                        <input class="form-control mx-auto w-75" name="email" placeholder="Email*" type="mail">
                    </div>
                    <div class="mb-3">
                        <input class="form-control mx-auto w-75" name="description" placeholder="Brève description du tatouage" type="text">
                    </div>
                    <div class="mb-3">
                        <input class="form-control mx-auto w-75" name="location" placeholder="Localisation sur le corps" type="text">
                    </div>
                    <div class="mb-3">
                        <input class="form-control mx-auto w-75" name="size" placeholder="Taille du tatouage" type="text">
                    </div>
                    <div class="mb-3">
                        <input class="form-control mx-auto w-75" name="availability" placeholder="Vos disponibilités" type="text">
                    </div>
                    <div class="mb-3">
                        <input class="form-control mx-auto w-75" name="artist" placeholder="Choisissez un artiste" type="text">
                    </div>
                    <div class="mb-3">
                        <input class="form-control mx-auto w-75" name="medium" placeholder="Comment avez-vous entendu parler de nous ?list" type="text">
                    </div>
                    <div class="container text-center align-items-center">
                        <button class="btn btn-primary" type="submit">Envoyer</button>
                    </div>
                </form>
            </div>

            <div class="col-12 col-md-6">
                <div class="mb-3">
                    <h5>Comment faire pour réserver ?</h5>

                </div>
                <div>
                    <p>
                        Bonjour ! 😊 Pour prendre rendez-vous, remplissez simplement les détails nécessaires et cliquez sur 'envoyer'.
                        Ou, n'hésitez pas à passer chez {{ infos.studio_name }} pendant nos heures d'ouverture.
                        Nous sommes très reconnaissants pour chaque demande de tatouage que nous recevons.
                        En raison du grand nombre de demandes, il se peut qu'il y ait un léger délai dans notre réponse.
                        Merci de votre compréhension ! 🙏
                    </p>
                    <p>
                        Vous avez une demande urgente ? Appelez-nous au
                        <a href="tel:{{ infos.studio_telephone }}">{{ infos.studio_telephone }}</a>.
                        Nous sommes toujours là pour vous aider !
                    </p>
                    <p>
                        NB : Afin de garantir votre rendez-vous, nous demandons un acompte de 50€ lors de la réservation de votre premier rendez-vous.
                        Cet acompte sera déduit du coût total de votre tatouage.
                    </p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
