{% extends "showcase/layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
<h6>FAQ sur le Tatouage</h6>
<div class="accordion" id="faq">

    <div class="accordion-item">
      <h2 class="accordion-header" id="question-1">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#question-1-collapse" aria-expanded="false" aria-controls="question-1-collapse">
            1. Est-ce que ça fait mal de se faire tatouer ?
        </button>
      </h2>
      <div id="question-1-collapse" class="accordion-collapse collapse show" aria-labelledby="question-1">
        <div class="accordion-body">
            La douleur ressentie lors d'un tatouage varie en fonction de la tolérance individuelle à la douleur, de l'emplacement du tatouage sur le corps et de la taille et du détail du dessin.
            Certaines personnes décrivent la sensation comme une égratignure ou une brûlure légère, tandis que d'autres la trouvent plus intense.
        </div>
      </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="question-2">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#question-2-collapse" aria-expanded="false" aria-controls="question-2-collapse">
            2. Combien de temps faut-il pour guérir un tatouage ?
        </button>
      </h2>
      <div id="question-2-collapse" class="accordion-collapse collapse show" aria-labelledby="question-2">
        <div class="accordion-body">
            La guérison initiale d'un tatouage prend généralement entre 2 et 3 semaines.
            Cependant, la peau peut mettre jusqu'à 6 semaines pour guérir complètement.
            Pendant ce temps, il est crucial de suivre les soins après tatouage recommandés pour éviter les infections et assurer une bonne cicatrisation.
        </div>
      </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="question-3">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#question-3-collapse" aria-expanded="false" aria-controls="question-3-collapse">
                3. Quels sont les soins après tatouage ?
        </button>
      </h2>
      <div id="question-3-collapse" class="accordion-collapse collapse show" aria-labelledby="question-3">
        <div class="accordion-body">
            Après avoir reçu un tatouage, il est important de :
            - Garder le tatouage propre et sec.
            - Appliquer une fine couche de crème spécifique pour tatouage.
            - Éviter de gratter ou de frotter le tatouage.
            - Protéger le tatouage du soleil et éviter les baignades en piscine ou en mer pendant la cicatrisation.
        </div>
      </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="question-4">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#question-4-collapse" aria-expanded="false" aria-controls="question-4-collapse">
            4. Est-ce que je peux bronzer ou aller à la piscine après un tatouage ?
          </button>
        </h2>
        <div id="question-4-collapse" class="accordion-collapse collapse show" aria-labelledby="question-4">
            <div class="accordion-body">
            Non, il est fortement déconseillé d'exposer un tatouage frais au soleil ou de le plonger dans l'eau (piscine, mer, bain) pendant la période de cicatrisation, qui dure environ 2 à 3 semaines.
            L'exposition au soleil peut provoquer des irritations et des décolorations, et l'eau peut augmenter le risque d'infection.
          </div>
        </div>
    </div>


      <div class="accordion-item">
        <h2 class="accordion-header" id="question-5">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-5-collapse" aria-expanded="false" aria-controls="question-5-collapse">
            5. Combien coûte un tatouage ?
          </button>
        </h2>
        <div id="question-5-collapse" class="accordion-collapse collapse show" aria-labelledby="question-5">
            <div class="accordion-body">
            Le coût d'un tatouage dépend de plusieurs facteurs, notamment la taille, la complexité du design, l'emplacement du tatouage sur le corps, et l'expérience du tatoueur.
            Il est préférable de consulter directement un tatoueur pour obtenir un devis précis.
          </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="company-settings-heading">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#company-settings-collapse" aria-expanded="false" aria-controls="company-settings-collapse">
            6. Est-ce que les tatouages sont permanents ?
          </button>
        </h2>
        <div id="company-settings-collapse" class="accordion-collapse collapse" aria-labelledby="company-settings-heading">
          <div class="accordion-body">
            Oui, les tatouages sont permanents.
            Cependant, ils peuvent s'estomper avec le temps en raison de l'exposition au soleil, du vieillissement de la peau et d'autres facteurs.
            Il est possible de faire des retouches pour raviver un tatouage estompé.
          </div>
        </div>
    </div>


    <div class="accordion-item">
        <h2 class="accordion-header" id="company-settings-heading">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#company-settings-collapse" aria-expanded="false" aria-controls="company-settings-collapse">
            7. Puis-je me faire tatouer si je suis enceinte ou si j'allaite ?
          </button>
        </h2>
        <div id="company-settings-collapse" class="accordion-collapse collapse" aria-labelledby="company-settings-heading">
          <div class="accordion-body">
            Il est généralement déconseillé de se faire tatouer pendant la grossesse ou l'allaitement en raison des risques potentiels d'infection et des effets des encres de tatouage sur le fœtus ou le nourrisson.
            Il est préférable d'attendre la fin de la grossesse et de la période d'allaitement avant de se faire tatouer.
          </div>
        </div>
    </div>


    <div class="accordion-item">
        <h2 class="accordion-header" id="company-settings-heading">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#company-settings-collapse" aria-expanded="false" aria-controls="company-settings-collapse">
            8. Est-ce que je peux enlever un tatouage que je ne veux plus ?
          </button>
        </h2>
        <div id="company-settings-collapse" class="accordion-collapse collapse" aria-labelledby="company-settings-heading">
          <div class="accordion-body">
            Oui, il est possible de retirer un tatouage indésirable grâce à des procédures de détatouage au laser.
            Ces procédures peuvent nécessiter plusieurs séances et peuvent être coûteuses et douloureuses.
            Les résultats varient en fonction de la taille, de la couleur et de l'ancienneté du tatouage.
          </div>
        </div>
    </div>


    <div class="accordion-item">
        <h2 class="accordion-header" id="company-settings-heading">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#company-settings-collapse" aria-expanded="false" aria-controls="company-settings-collapse">
            9. Que dois-je faire avant de me faire tatouer ?
          </button>
        </h2>
        <div id="company-settings-collapse" class="accordion-collapse collapse" aria-labelledby="company-settings-heading">
          <div class="accordion-body">
            Avant de vous faire tatouer, assurez-vous de :
                - Bien manger et être hydraté.
                - Éviter l'alcool et les médicaments anticoagulants avant la séance.
                - Choisir un design et un emplacement qui vous plaisent vraiment.
                - Discuter de toutes vos questions et préoccupations avec votre tatoueur.
          </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="company-settings-heading">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#company-settings-collapse" aria-expanded="false" aria-controls="company-settings-collapse">
            10. Comment choisir un bon tatoueur ?
          </button>
        </h2>
        <div id="company-settings-collapse" class="accordion-collapse collapse" aria-labelledby="company-settings-heading">
          <div class="accordion-body">
            Pour choisir un bon tatoueur, vous pouvez :
                - Rechercher des avis et recommandations en ligne.
                - Visiter plusieurs studios de tatouage pour voir leur propreté et leur équipement.
                - Regarder les portfolios des tatoueurs pour évaluer leur style et leur compétence.
                - Discuter directement avec les tatoueurs pour vous assurer qu'ils comprennent bien vos attentes et vos besoins.
          </div>
        </div>
    </div>
</div>
{% endblock %}
