{% extends "showcase/layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <div class="parallax px-auto" id="parallax-1">
        <h2>STUDIO NAME {{ studio.name }}</h2>
    </div>

    <section class="section p-3">
        <div class="container text-center align-items-center">
            <h3>Découvrez nos artistes</h3>
        </div>
        <div class="card-deck container d-flex justify-content-around flex-column">
            <div class="row">
                <div class="col-sm-3">
                    <div class="card m-2 p-2">
                        <img src="/static/assets/logo.jpg" class="card-img-top" alt="Artist picture" class="responsive">
                        <div class="card-body">
                            <h5 class="card-title">Tattoo Artist</h5>
                            <p class="card-text">Spécialiste du new school <br>@insta </p>
                            <a href="/" class="btn">Portfolio</a>
                            <a href="/" class="btn button-book">Book</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="card m-2 p-2">
                        <img src="/static/assets/logo.jpg" class="card-img-top" alt="Artist picture" class="responsive">
                        <div class="card-body">
                            <h5 class="card-title">Tattoo Artist</h5>
                            <p class="card-text">Spécialiste du new school <br>@insta </p>
                            <a href="/" class="btn">Portfolio</a>
                            <a href="/" class="btn button-book">Book</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="card m-2 p-2">
                        <img src="/static/assets/logo.jpg" class="card-img-top" alt="Artist picture" class="responsive">
                        <div class="card-body">
                            <h5 class="card-title">Tattoo Artist</h5>
                            <p class="card-text">Spécialiste du new school <br>@insta </p>
                            <a href="/" class="btn">Portfolio</a>
                            <a href="/" class="btn button-book">Book</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="card m-2 p-2">
                        <img src="/static/assets/logo.jpg" class="card-img-top" alt="Artist picture" class="responsive">
                        <div class="card-body">
                            <h5 class="card-title">Tattoo Artist</h5>
                            <p class="card-text">Spécialiste du new school <br>@insta </p>
                            <a href="/" class="btn">Portfolio</a>
                            <a href="/" class="btn button-book">Book</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="parallax px-auto" id="parallax-2">
        <h2>STUDIO NAME</h2>
    </div>

    <section class="section p-3">
        <div class="container text-center align-items-center">
            <h3>Galerie Photo</h3>
        </div>
        <div class="container">
            <ul class="nav nav-pills justify-content-center">
              <li><a href="#">All</a></li>
              <li><a href="#">Style 1</a></li>
              <li><a href="#">Style 2</a></li>
              <li><a href="#">Style 3</a></li>
            </ul>
            <div class="image-gallery">
              <div class="column">
                <div class="image-item">
                  <img src="/static/assets/tat1.jpg" alt="" />
                  <div class="overlay"><span>Image title</span></div>
                </div>
                <div class="image-item">
                  <img src="/static/assets/tat2.jpg" alt="" />
                  <div class="overlay"><span>Image title</span></div>
                </div>
                <div class="image-item">
                  <img src="/static/assets/tat3.jpg" alt="" />
                  <div class="overlay"><span>Image title</span></div>
                </div>
              </div>
              <div class="column">
                <div class="image-item">
                  <img src="/static/assets/tat4.jpg" alt="" />
                  <div class="overlay"><span>Image title</span></div>
                </div>
                <div class="image-item">
                  <img src="/static/assets/tat5.jpg" alt="" />
                  <div class="overlay"><span>Image title</span></div>
                </div>
                <div class="image-item">
                  <img src="/static/assets/tat6.jpg" alt="" />
                  <div class="overlay"><span>Image title</span></div>
                </div>
                <div class="image-item">
                  <img src="/static/assets/tat7.jpg" alt="" />
                  <div class="overlay"><span>Image title</span></div>
                </div>
              </div>
              <div class="column">
                <div class="image-item">
                  <img src="/static/assets/tat1.jpg" alt="" />
                  <div class="overlay"><span>Image title</span></div>
                </div>
                <div class="image-item">
                  <img src="/static/assets/tat9.jpg" alt="" />
                  <div class="overlay"><span>Image title</span></div>
                </div>
                <div class="image-item">
                  <img src="/static/assets/tat10.jpg" alt="" />
                  <div class="overlay"><span>Image title</span></div>
                </div>
              </div>
            </div>
          </div>
    </section>

{% endblock %}
