{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <form action="/history" method="get">
        <h3>HISTORY PAGE</h3>
        <br>
        <table>
            <thead>
                <tr>
                    <th>Transaction type</th>
                    <th>Symbol</th>
                    <th>Number of shares</th>
                    <th>Price per share</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                <tr>
                    <td>{{ row.type }}</td>
                    <td>{{ row.symbol }}</td>
                    <td>{{ row.shares }}</td>
                    <td>{{ row.price_per_share }}</td>
                    <td>{{ row.date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
{% endblock %}
