{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <form action="/index" method="get">
        <h3>INDEX PAGE</h3>
        <br>
        <table>
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Number of shares</th>
                    <th>Price per share</th>
                    <th>Total value</th>
                    <th>transaction id</th>
                    <th>Buy or sell</th>
                </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                <tr>
                    <td>{{ row.symbol }}</td>
                    <td>{{ row.sum }}</td>
                    <td>{{ row.price }}</td>
                    <td>{{ row.total }}</td>
                    <td>{{ row.id }}</td>
                    <td>
                        <form id="form_manage" action="/manage" method="post">
                            <button data-id="{{ row.id }}" data-max="{{ row.sum }}" data-min="0" class="btn btn-outline-info btn-sm btn-minus decrease" type="button">-</button>
                            <input id="share-value-{{ row.id }}" type="number" readonly value={{ row.nb_to_trade }}>
                            <button data-id="{{ row.id }}" data-max="{{ row.sum }}" data-min="0" class="btn btn-outline-info btn-sm btn-plus increase" type="button">+</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{ grand_total }}</td>
                </tr>
            </tbody>
        </table>
        <br>
        <div>
            Cash available : {{ cash }} & Total Wallet : {{ grand_total }}
        </div>
        <br>
        <button id="btn_manage" class="btn btn-primary" form="form_manage" type="submit">Confirm action</button>
    </form>
{% endblock %}
