{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <form action="/index" method="get">
        <h3>INDEX PAGE</h3>
        <table>
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Number of shares</th>
                    <th>Price per share</th>
                    <th>Total value</th>
                </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                <tr>
                    <td>{{ row.symbol }}</td>
                    <td>{{ row.sum }}</td>
                    <td>{{ row.price }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
{% endblock %}
