{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <form action="/index" method="get">
        <h3>INDEX PAGE</h3>
        <table>
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Number of shares</th>
                    <th>Price per share</th>
                    <th>Total value</th>
                    <th>transaction id</th>
                    <th>Buy or sell</th>
                </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                <tr>
                    <td>{{ row.symbol }}</td>
                    <td>{{ row.sum }}</td>
                    <td>{{ row.price }}</td>
                    <td>{{ row.total }}</td>
                    <td>{{ row.id }}</td>
                    <td>
                        <button id="decrease" data-id="{{ row.id }}" class="btn btn-outline-info btn-sm btn-minus" type="button">-</button>
                        <span id="share-value-{{ row.id }}">{{ row.nb_to_trade }}</span>
                        <button id="increase" data-id="{{ row.id }}" class="btn btn-outline-info btn-sm btn-plus" type="button">+</button>
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{ grand_total }}</td>
                </tr>
            </tbody>
        </table>
        <div>
            Cash available : {{ cash }}
            Total Wallet : {{ grand_total }}
        </div>
        <button class="btn btn-primary" type="submit">Confirm action</button>
    </form>
{% endblock %}
