{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <h3>Sell your stocks</h3>
        <br>
        <select name="symbol" autofocus class="form-control mx-auto w-auto">
            <option disabled selected value="">Stock name</option>
            {% for stock in stock_owned %}
                <option>{{ stock }}</option>
            {% endfor %}
        </select>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="share_nb" placeholder="Number of share" type="number" min=1>
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}
