{% extends "admin/layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <div class="row row-1 my-3">
        <div class="col surface mx-3 p-4" name="col-11">Nb de rdv</div>
        <div class="col surface mx-3 p-4" name="col-12">Revenus €</div>
        <div class="col surface mx-3 p-4" name="col-13">Nb de tatouages</div>
    </div>
    <div class="row row-2 my-3">
        <div class="col-8 surface mx-3 p-4" name="col-21">Graph 1</div>
        <div class="col surface mx-3 p-4" name="col-22">Graph 2</div>
    </div>
    <div class="row row-3 my-3">
        <div class="col-4 surface mx-3 p-4" name="col-31">col</div>
        <div class="col-4 surface mx-3 p-4" name="col-32">col</div>
        <div class="col surface mx-3 p-4" name="col-33">col</div>
    </div>
{% endblock %}
