{% extends "admin/layout.html" %}

{% block title %}
    Paramètres
{% endblock %}

{% block main %}
<form action="/change_settings" method="post">
    <h5>Informations globales</h5>
    <!--View mode : disabled form -->
    <!--Edit mode : enabled form and button pop up to confirm saving modifications-->
    <!-- Dropdown for categories such as Boutique and Coordonnées-->
    <!---->

    <div class="accordion" id="website_settings">
        <div class="accordion-item">
          <h2 class="accordion-header" id="studio-settings-heading">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#studio-settings-collapse" aria-expanded="true" aria-controls="studio-settings-collapse">
              Studio
            </button>
          </h2>
          <div id="studio-settings-collapse" class="accordion-collapse collapse show" aria-labelledby="studio-settings-heading">
            <div class="accordion-body">
              <div class="form-group">
                <div id="liveAlertPlaceholder"></div>
                <label for="shop-name">Nom du studio</label>
                <input id="shop-name" type="text" class="form-control" disabled>
              </div>
              <div class="form-group">
                <label for="shop-hours">Heures d'ouverture</label>
                <input id="shop-hours" type="text" class="form-control" disabled>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="coord-settings-heading">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#coord-settings-collapse" aria-expanded="false" aria-controls="coord-settings-collapse">
              Coordonnées
            </button>
          </h2>
          <div id="coord-settings-collapse" class="accordion-collapse collapse" aria-labelledby="coord-settings-heading">
            <div class="accordion-body">
              <div class="form-group">
                <label for="shop-location">Adresse du studio</label>
                <input id="shop-location" type="text" class="form-control" disabled>
              </div>
              <div class="form-group">
                <label for="shop-tel">Téléphone du studio</label>
                <input id="shop-tel" type="tel" class="form-control" disabled>
              </div>
              <div class="form-group">
                <label for="shop-mail">Mail du studio</label>
                <input id="shop-mail" type="mail" class="form-control" disabled>
              </div>
              <div class="form-group">
                <label for="shop-insta">DM instagram</label>
                <input id="shop-insta" type="text" class="form-control" disabled>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="company-settings-heading">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#company-settings-collapse" aria-expanded="false" aria-controls="company-settings-collapse">
              Entreprise
            </button>
          </h2>
          <div id="company-settings-collapse" class="accordion-collapse collapse" aria-labelledby="company-settings-heading">
            <div class="accordion-body">
              <div class="form-group">
                <label for="shop-name">Nom du studio</label>
                <input id="shop-name" type="text" class="form-control" disabled>
              </div>
              <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
          </div>
        </div>
      </div>
      <button class="edit-btn btn btn-primary my-2" onclik="enableModification()">Modifier</button>
      <button class="edit-btn btn btn-primary my-2" onclik="enableModification()">Confirmer</button>
</form>

<script>
  function enableModification() {
    document.getElementById('liveAlertBtn')
    document.getElementsByClassName(names)
    document.querySelectorAll('input')
  };



  const alertPlaceholder = document.getElementById('liveAlertPlaceholder')

  const alert = (message, type) => {
    const wrapper = document.createElement('div')
    wrapper.innerHTML = [
      `<div class="alert alert-${type} alert-dismissible" role="alert">`,
      `   <div>${message}</div>`,
      '   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',
      '</div>'
    ].join('')

    alertPlaceholder.append(wrapper)
  }

  const alertTrigger = document.getElementById('liveAlertBtn')
  if (alertTrigger) {
    alertTrigger.addEventListener('click', () => {
      alert('Nice, you triggered this alert message!', 'success')
    })
  }
</script>

{% endblock %}
