{% extends "admin/layout.html" %}

{% block title %}
    Paramètres
{% endblock %}

{% block main %}
<form action="/admin/parameters" method="post">
    <h5>Informations globales</h5>
    <!--View mode : disabled form -->
    <!--Edit mode : enabled form and button pop up to confirm saving modifications-->
    <!-- Dropdown for categories such as Boutique and Coordonnées-->
    <!---->
    <div id="liveAlertPlaceholder"></div>

    <div class="accordion" id="website_settings">
        <div class="accordion-item">
          <h2 class="accordion-header" id="studio-settings-heading">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#studio-settings-collapse" aria-expanded="true" aria-controls="studio-settings-collapse">
              Studio
            </button>
          </h2>
          <div id="studio-settings-collapse" class="accordion-collapse collapse show" aria-labelledby="studio-settings-heading">
            <div class="accordion-body">
              <div class="form-group">
                <label for="shop-name">Nom du studio</label>
                <input id="shop-name" name="shop-name" type="text" class="form-control" value="{{ infos.studio_name }}" disabled required>
              </div>
              <div class="form-group">
                <label for="shop-hours">Heures d'ouverture</label>
                <input id="shop-hours" name="shop-hours" type="text" class="form-control" value="{{ infos.studio_name }}" disabled required>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="coord-settings-heading">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#coord-settings-collapse" aria-expanded="false" aria-controls="coord-settings-collapse">
              Coordonnées
            </button>
          </h2>
          <div id="coord-settings-collapse" class="accordion-collapse collapse" aria-labelledby="coord-settings-heading">
            <div class="accordion-body">
              <div class="form-group">
                <label for="shop-location">Adresse du studio</label>
                <input id="shop-location" name="shop-location" type="text" class="form-control" value="{{ infos.studio_name }}" disabled required>
              </div>
              <div class="form-group">
                <label for="shop-tel">Téléphone du studio</label>
                <input id="shop-tel" name="shop-tel" type="text" class="form-control" value="{{ infos.studio_name }}" disabled required>
              </div>
              <div class="form-group">
                <label for="shop-mail">Mail du studio</label>
                <input id="shop-mail" name="shop-mail" type="text" class="form-control" value="{{ infos.studio_name }}" disabled required>
              </div>
              <div class="form-group">
                <label for="shop-insta">DM instagram</label>
                <input id="shop-insta" name="shop-insta" type="text" class="form-control" value="{{ infos.studio_name }}" disabled required>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="company-settings-heading">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#company-settings-collapse" aria-expanded="false" aria-controls="company-settings-collapse">
              Entreprise
            </button>
          </h2>
          <div id="company-settings-collapse" class="accordion-collapse collapse" aria-labelledby="company-settings-heading">
            <div class="accordion-body">
              <div class="form-group">
                <label for="shop-legit">Autorisation du studio</label>
                <input id="shop-legit" name="shop-legit" type="text" class="form-control" value="{{ infos.studio_name }}" disabled required>
            </div>
          </div>
        </div>
    </div>
    <button id="modifyButton" class="edit-btn btn btn-primary my-2" type="button" onclick="enableModification()">Modifier</button>
    <button id="confirmButton" class="edit-btn btn btn-primary my-2" type="submit" onclick="confirmModification()" style="display: none;">Confirmer</button>
</form>

<script>
  function enableModification() {
    console.log('Button clicked!');
    document.querySelectorAll('input').forEach(function(input) {
      input.disabled = false;
    });
    document.getElementById('modifyButton').style.display = 'none';
    document.getElementById('confirmButton').style.display = 'inline-block';
  };

  function confirmModification() {
    console.log('Button clicked!');
    const inputs = document.querySelectorAll('input');
      inputs.forEach(function(input) {
        input.disabled = true;
      });
      document.getElementById('modifyButton').style.display = 'inline-block';
      document.getElementById('confirmButton').style.display = 'none';
  };
</script>

{% endblock %}
