{% extends "layout.html" %}

{% block title %}
    Les clients
{% endblock %}

{% block main %}
    <!-- Tabs navs -->
    <ul class="nav nav-tabs mb-3">
        <li class="nav-item">
        <a class="nav-link active" href="#ex-with-icons-tabs-1"
            aria-controls="ex-with-icons-tabs-1" aria-selected="true"><i class="fas fa-chart-pie fa-fw me-2"></i>Sales</a>
        </li>
        <li class="nav-item">
        <a  class="nav-link" href="#ex-with-icons-tabs-2"
            aria-controls="ex-with-icons-tabs-2" aria-selected="false"><i class="fas fa-chart-line fa-fw me-2"></i>Subscriptions</a>
        </li>
        <li class="nav-item">
        <a class="nav-link"  href="#ex-with-icons-tabs-3"
            aria-controls="ex-with-icons-tabs-3" aria-selected="false"><i class="fas fa-cogs fa-fw me-2"></i>Settings</a>
        </li>
    </ul>
    <!-- Tabs navs -->

    <!-- Tabs content -->
    <div class="tab-content">
        <div class="tab-pane fade show active" aria-labelledby="ex-with-icons-tab-1">
        Tab 1 content
        </div>
        <div class="tab-pane fade" aria-labelledby="ex-with-icons-tab-2">
        Tab 2 content
        </div>
        <div class="tab-pane fade" aria-labelledby="ex-with-icons-tab-3">
        Tab 3 content
        </div>
    </div>
    <!-- Tabs content -->

{% endblock %}
