{% extends "layout.html" %}

{% block title %}
    Les clients
{% endblock %}

{% block main %}
    <!-- Tabs navs -->
    <ul class="client-nav nav nav-tabs mb-3" id="client-nav-tab" role="tablist">
        <li class="nav-item" role="presentation">
        <a class="nav-link active" id="bookings-tab" data-bs-toggle="tab" data-bs-target="#bookings" type="button" role="tab" aria-controls="bookings" aria-selected="true">
            <i class="fa fa-solid fa-book me-2"></i>Bookings</a>
        </li>
        <li class="nav-item" role="presentation">
        <a  class="nav-link" id="clients-tab" data-bs-toggle="tab" data-bs-target="#clients" type="button" role="tab" aria-controls="clients" aria-selected="false">
            <i class="fa fa-regular fa-user me-2"></i>Clients</a>
        </li>
        <li class="nav-item" role="presentation">
        <a class="nav-link" id="new-tab" data-bs-toggle="tab" data-bs-target="#new" type="button" role="tab" aria-controls="new" aria-selected="false">
            <i class="fa fa-regular fa-plus me-2"></i>Nouvelle réservation</a>
        </li>
    </ul>
    <!-- Tabs navs -->

    <!-- Tabs content -->
    <br>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="bookings" role="tabpanel" aria-labelledby="bookings-tab">
            <form class="form-inline my-3 w-75" action="/search" method="post">
                <input autocomplete="off" autofocus class="form-control w-75 mb-2" name="fullname" placeholder="Nom du client" type="text">
                <button class="btn btn-primary mb-2 mx-2" type="submit">Rechercher</button>
            </form>
            <table class="booking-table table table-dark table-striped table-hover rounded-3 p-3">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#id</th>
                        <th scope="col">Client</th>
                        <th scope="col">Artist</th>
                        <th scope="col">Date de demande</th>
                        <th scope="col">Date de RDV</th>
                        <th scope="col">Durée de RDV</th>
                        <th scope="col">Statut</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>01/06/2024 12:00</td>
                        <td>05/06/2024 16:30</td>
                        <td>1h30</td>
                        <td>Complété</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>01/06/2024 12:00</td>
                        <td>05/06/2024 16:30</td>
                        <td>1h30</td>
                        <td>Complété</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>01/06/2024 12:00</td>
                        <td>05/06/2024 16:30</td>
                        <td>1h30</td>
                        <td>Complété</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>01/06/2024 12:00</td>
                        <td>05/06/2024 16:30</td>
                        <td>1h30</td>
                        <td>Complété</td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>01/06/2024 12:00</td>
                        <td>05/06/2024 16:30</td>
                        <td>1h30</td>
                        <td>Complété</td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>01/06/2024 12:00</td>
                        <td>05/06/2024 16:30</td>
                        <td>1h30</td>
                        <td>Complété</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="tab-pane fade" id="clients" role="tabpanel" aria-labelledby="clients-tab">
            ...
        </div>

        <div class="tab-pane fade" id="new" role="tabpanel" aria-labelledby="new-tab">
            <form action="/new_booking" method="post">
                <h5>Customer information</h5>
                <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="name">Prénom</label>
                      <input type="text" class="form-control" id="name" placeholder="Prénom">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="surname">Nom</label>
                        <input type="text" class="form-control" id="surname" placeholder="Nom">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <label for="telephone">Numéro de téléphone</label>
                        <input type="tel" class="form-control" id="telephone" placeholder="Téléphone">
                    </div>
                </div>

                <h5>Booking project</h5>

                <h5>Booking status</h5>

                <h5>Booking details</h5>

                <h5>Payment</h5>

                <h5>Conclusion</h5>
            </form>
        </div>

    </div>

    <!-- Tabs content -->

{% endblock %}
