{% extends "layout.html" %}

{% block title %}
    Les clients
{% endblock %}

{% block main %}
    <!-- Tabs navs -->
    <ul class="client-nav nav nav-tabs mb-3">
        <li class="nav-item">
        <a class="nav-link active" href="#">
            <i class="fa fa-regular fa-dragon me-2"></i>Bookings</a>
        </li>
        <li class="nav-item">
        <a  class="nav-link" href="#">
            <i class="fa fa-regular fa-gear me-2"></i>Clients</a>
        </li>
        <li class="nav-item">
        <a class="nav-link"  href="#">
            <i class="fa fa-regular fa-bullseye me-2"></i>Nouvelle réservation</a>
        </li>
    </ul>
    <!-- Tabs navs -->

    <!-- Tabs content -->
    <!-- Tabs content -->

{% endblock %}
