{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <div class="main-container" data-id="14:597">
        <div class="grid-I29cT6" data-id="15:423">
            <div class="row-3-g6Wepn" data-id="15:422">
                <div class="col-22-z9GIWq col-22" data-id="15:421"></div>
                <div class="col-22-72murF col-22" data-id="15:420"></div>
                <div class="col-22-kzJNMy col-22" data-id="15:419"></div>
            </div>
            <div class="row-2-g6Wepn" data-id="15:418">
                <div class="col-22-wIdXID col-22" data-id="15:416"></div>
                <div class="col-21-wIdXID" data-id="14:599"></div>
            </div>
            <div class="row-1-g6Wepn" data-id="14:596">
                <div class="col-13-HjJTTT" data-id="14:590"></div>
                <div class="col-12-HjJTTT" data-id="14:591"></div>

{% endblock %}
