{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <div class="container grid text-center">
        <div class="row row-1">
            <div class="col-4" name="col-11">col</div>
            <div class="col-4" name="col-12">col</div>
            <div class="col-4" name="col-13">col</div>
        </div>
        <div class="row row-2">
            <div class="col-9" name="col-21">col</div>
            <div class="col-3" name="col-22">col</div>
        </div>
        <div class="row row-3">
            <div class="col-4" name="col-31">col</div>
            <div class="col-4" name="col-32">col</div>
            <div class="col-4" name="col-33">col</div>
        </div>
    </div>

{% endblock %}
