{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <div class="main-container" data-id="14:597">
        <div class="grid" data-id="15:423">
            <div class="row-1">
                <div class="col-11"></div>
                <div class="col-12"></div>
                <div class="col-13"></div>
            </div>
            <div class="row-2">
                <div class="col-21"></div>
                <div class="col-22"></div>
            </div>
            <div class="row-3">
                <div class="col-31"></div>
                <div class="col-32"></div>
                <div class="col-33"></div>
            </div>
        </div>
    </div>

{% endblock %}
